/*

footer{
    height: 50px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background: #222222
}

*/

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 50px;
    line-height: 50px;
    margin-top: 3em;
    text-align: center;
    color: #ffffff;
    background: #222222
}